@page__background-color: white;
@primary__color: @color-gray80;

@eblocks__green: #009A4E;
@eblocks__blue: #0089CF;


@link__color: @eblocks__green;
@link__hover__color: darken(@link__color, 10%);

@button-primary__background: @eblocks__green;
@button-primary__border: darken(@eblocks__green, 40%);
@button-primary__color: @color-black;

@button-primary__hover__background: darken(@eblocks__green, 10%);
@button-primary__hover__border: darken(@eblocks__green, 50%);
@button-primary__hover__color: @color-black;

@navigation__background: @eblocks__blue;

.page-header .header.panel {
    padding-bottom: 0px;
    padding-top: 0px;
}

.ogx-block-promotion {
    display: block;
}

@media only screen and (min-width: 768px) {
    .ogx-block-promotion p {
        margin: 0px;
    }

    .ogx-block-promotion {
        margin: 0px;

        &:after {
            content: "";
            display: block;
            clear: both;
        }

        p {
            margin: 0px;
        }

        .ogx-shampoo-promo {
            float: left;
            padding: 0px 130px 10px 30px;

            .block-category-link {
                padding: 30px 0px 0px 0px;

                a {
                    display: block;

                    &::after {
                        content: ">";
                        font-size: 137%;
                        margin: 0px 10px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }

        .ogx-shampoo-promo-image {
            float: left;

            img {
                width: 400px;
                height: 237px;
            }
        }

        .ogx-shampo-promo-others {
            clear: both;
            display: flex;

            &::before {
                display: block;
                clear: both;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }

            .block-category-link {
                display: inline-block;
                flex-direction: row;
                flex-grow: 1;
                border: 1px solid #555;
                margin: 0px;
                border-right: 0px;
                padding: 16px;

                &:last-child {
                    border: 1px solid #555;
                }

                a {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }

}